*
{
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

/* General */

ul
{
    list-style: none;
}
li a
{
    text-decoration: none;
}
.clear
{
    clear: both;
}
.container
{
    width: 80%;
    margin: auto;
}
.darklayot
{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 84vh;
}
.mg
{
    margin: 0 5%;
}



/* ---------- */

html
{
    scroll-behavior: smooth;
}

/* header section */
header
{
    width: 100%; 
    background-color: #111;
    box-shadow: 0 0 3px 3px #111;
}
.header-item
{
    width: 50%;
    float: left;
}
.header-item-title
{
    color: whitesmoke;
    padding: 15px 60px;
}

.header-item nav ul li
{
    display: inline-block;
    margin: 15px 10px;
    padding: 10px 10px;
}  
.header-item nav ul li a
{
    color: #5DADE2;
    font-size: 17px;
}
.header-item nav ul li a:hover
{
    color: #2874A6;
}



/* home section */
.home
{
    width: 100%;
    height: 84vh;
    background-image: url(../img/background/background1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.home-item-title
{
    color: white;
    text-align: center;
    padding: 120px 0 10px 0;
    font-size: 54px;
}
.home-item-desc
{
    color: #5DADE2;
    text-align: center;
    font-size: 19px;
}
.home-item-icon i
{
    color: #5DADE2;
    font-size: 150px;
    margin: 10px 480px;
}

/* courses section */

.courses
{
    background-color: #e8e8e8;
    padding: 200px;
    position: relative;
}

.card
{
    float: left;
    height: 30vh;
}
.card-title
{
    margin: 10px 0;
}
.btn-primary
{
    margin: 30px 0;
}
.card.mg
{
    margin:  0 3%;
}
/*----------*/
.AllCourses  
{   
    font-size: xx-large;
    color: #5DADE2; 
    text-align: center;
    padding: 80px;
    text-decoration: none;
}

/* about section */
.about
{
    background-color: white;
    width: 100%;
    padding: 200px;
    position: relative;
}
.about-item
{
    width: 50%;
    float: left;
}
.line
{
    display: block;
    height: 4px;
    width: 70px;
    border-radius: 5px; 
    background-color: #6195ff;
}

.about-item-descs
{
    padding: 10px 0;
    width: 100%;
}

.about-item p
{
    margin: 33.3px 0;
    font-size: 18px;
}
.about-item p i
{
    color: #5DADE2;
}


.about-item-img
{
    width: 50%;
    height: 400px;
    background-image: url(../img/about2.webp);
    background-position: center;
}

/*-----------*/

.contact 
{
    background-color: #e8e8e8;
    padding: 200px 0;
}

.contact-content
{
    width: 30%;
    float: left;
    text-align: center;
}
.contact-content.mg
{
    margin: 0 5%;
}
.contact-content .icon
{
    color: #6195ff;
    font-size: xx-large;
}
.contact-title
{
    text-transform: capitalize;
    font-weight: bolder;
    margin: 15px 0;
}
.contact-text
{
    color: #888;
}

.contact-form
{
    padding: 190px 0;
}

.contact-form input
{
    width: 40%;
    display: inline-block;
    margin: 10px auto;
    border: 1px solid #6195ff;
}
.contact-form #Subject
{
    width: 80.5%;
}
.contact-form textarea
{
    width: 80.5%;
    margin: 10px;
    border: 1px solid #6195ff;
}

.contact-form button
{
    border: 1px solid #6195ff;
    padding: 5px 30px;
    margin: 10px;
    border-radius: 5px;
}

/* lan code */

.lan
{
    position: relative;
}
.lan-content
{
    position: fixed;
    bottom: 20px; 
    left: 50px;
    z-index: 999999999;
    float: left;
}
.lan-content .icon
{
    color: #6195ff;
    font-size: 25px;
    margin-left: 5px;
}
.lan-content a
{
    color: #5DADE2;
    font-size: 30px;
    text-decoration: none;
}



/* Footer Section */

footer
{
    width: 100%;
    background-color: #33383b;
    padding: 50px;
}
.footer-item-title
{
    color: white;
}
.footer-item-links
{
    font-size: 20px;
}
.footer-item-links a
{
    text-decoration: none;
    color: #5DADE2;
    font-size: 20px;
}


.footer-item
{
    float: left;
    width: 50%;
}
.icons-item
{
    margin: 0 150px;
}
.icons-item i
{ 
    margin: 45px 10px;
    color: #5DADE2;
    font-size: 25px;
    background-color: #4A4A4A;
    padding: 7px;
    border-radius: 50px;
}
.icons-item i:hover
{
    background-color: #333;
}
